/*Footer Begins*/

#footer {
    height: max-content;
    width: 100%;
    padding: 0 40px;
    background: var(--black);
}

.footer-top {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.footer-top-left {
    height: max-content;
    width: 60%;
    display: flex;
}

.footer-award-container {
    height: max-content;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-award {
    height: 80px;
    width: 160px;
    margin: 0 20px 20px 0;
}

.footer-award-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.footer-nav-container {
    height: max-content;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer-nav-header {
    height: max-content;
    width: 100%;
    margin: 0 0 20px 0;
}

.footer-nav-header h3 {
    color: var(--primary);
}

.footer-nav-container a {
    color: var(--white);
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.3s ease;
}

.footer-nav-container a:hover {
    color: var(--primary);
}

.footer-top-right {
    height: max-content;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-form {
    height: max-content;
    width: 400px;
}

.footer-form-header {
    height: max-content;
    width: 100%;
}

.footer-form-header p {
    color: var(--accent2);
    font-size: 15px;
}

.footer-form-content {
    height: max-content;
    width: 100%;
    margin: 10px 0;
}

.footer-form-top-details {
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: space-between;
}

.footer-form-details {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-form-details label {
    color: var(--accent2);
    font-size: 15px;
    margin: 5px 0;
}

.footer-form-details input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--accent2);
    padding: 0 10px;
    background: transparent;
    color: var(--accent2);
}

.footer-form-details.top-detail {
    width: 48%;
}

.footer-subscribe-btn-container {
    height: max-content;
    width: 100%;
    padding: 10px 0;
}

.footer-subscribe-btn {
    width: 100%;
    height: max-content;
    padding: 10px 0;
    text-align: center;
    color: var(--white);
    font-size: 16px;
    background: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    height: max-content;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left,
.footer-bottom-right {
    height: max-content;
    width: max-content;
}

.footer-rights {
    color: var(--accent2);
    font-size: 12px;
}

.footer-social-container {
    height: max-content;
    width: max-content;
    display: flex;
}

.footer-social-container a {
    margin: 0 0 0 10px;
}

.footer-social-container a i {
    font-size: 20px;
    color: var(--primary);
}

@media only screen and (max-width: 767px) {
    #footer {
        padding: 0 15px;
    }
    .footer-top {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer-top-left {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-award-container {
        width: 100%;
    }
    .footer-nav-container {
        width: 30%;
    }
    .footer-top-right {
        width: 100%;
    }
}

/*Footer Ends*/