#header {
    height: 120px;
    width: 100%;
    padding: 0 40px;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-container {
    height: 100px;
    width: 200px;
}

.header-logo {
    height: 100%;
    width: 100%;
}

.header-right {
    width: calc(100% - 200px);
    height: 100%;
    padding: 0 0 0 20px;
}

.header-right-top {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--accent2);
}

.header-right-top-container {
    display: flex;
    align-items: center;
}

.header-right-top-container,
.header-need-help-container {
    height: max-content;
    width: max-content;
}

.header-need-help-container a {
    color: var(--white);
}

.header-social-container {
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.header-social-container a i {
    color: var(--primary);
    font-size: 20px;
    margin: 0 5px;
}

.header-right-bottom {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container {
    height: max-content;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 0 0 20px;
}

.nav-item.active{
    border-bottom: 2px solid var(--primary);
}

.nav-item a {
    color: var(--white);
}

.nav-item.active a{
    color: var(--primary);
}

.header-cta-1 {
    background: var(--primary);
}

.header-cta-2 {
    background: var(--black);
    margin-left: 30px;
    color: var(--white);
}

.hamburger-container {
    display: none;
}

.error-container {
    height: max-content;
    width: 100%;
    padding: 10px;
    display: none;
    background: #e42222;
    border-radius: 5px;
}

.error-container.active {
    display: block;
}

.error-container.success {
    display: block;
    background: #0ae026;
}

.error {
    font-size: 15px;
    color: var(--white);
    text-align: center;
}

@media screen and (max-width: 820px) {
    #header {
        padding: 0 15px;
    }
    .header-logo-container {
        height: 70px;
        width: 140px;
    }
    .header-right {
        display: none;
    }
    .hamburger-container {
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
        z-index: 13;
    }
    .hamburger-container.active {
        top: -30px;
        left: 30px;
    }
    .hamburger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 30px;
        background: var(--white);
        opacity: 1;
        transition: 0.4s ease-in-out;
    }
    .hamburger.active {
        height: 0;
        width: 0;
    }
    .hamburger::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        height: 2px;
        width: 30px;
        background: var(--white);
        transition: 0.4s ease-in-out;
    }
    .hamburger.active::after {
        transform: rotate(45deg);
        top: 0;
        left: -15px;
    }
    .hamburger::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        height: 2px;
        width: 30px;
        background: var(--white);
        transition: 0.4s ease-in-out;
    }
    .hamburger.active::before {
        transform: rotate(-45deg);
        top: 0;
        left: -15px;
    }
    .header-right.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--black);
        padding: 20px;
    }
    .header-right-top {
        height: 40px;
        width: 100%;
        display: block;
    }
    .header-right-bottom {
        height: max-content;
        width: 100%;
        display: block;
    }
    .nav-container {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
    .nav-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .nav-item {
        margin: 20px 0;
    }
    .header-cta-container {
        margin-top: 100px;
    }
    .contact-form {
        width: 98%;
    }
}

@media screen and (max-width: 767px) {
    .hamburger-container.active {
        top: -30px;
        left: 10px;
    }
}