        @media only screen and (min-height: 1200px) {
            #hero {
                height: 55vh;
            }
            .hero-content {
                width: 75%;
            }
            .undernet {
                position: absolute;
                top: calc(100vh + 100px);
            }
            #below-hero {
                height: max-content;
                padding: 50px 40px;
            }
            .our-goal-img-container {
                width: 100%;
            }
            .our-goal-right {
                padding: 0 0 0 10px;
            }
            .home-safeguarding-left {
                width: 100%;
                margin-bottom: 20px;
            }
            .home-safe-guarding-right {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .home-safe-guarding-right-content {
                height: 375px;
                width: 500px;
            }
        }
        
        @media screen and (max-width: 820px) and (min-width: 768px) {
            #hero {
                height: 55vh;
            }
            .undernet {
                position: absolute;
                top: calc(100vh + 100px);
            }
            .hero-content {
                width: 85%;
            }
            #below-hero {
                height: max-content;
                padding: 50px 40px;
            }
            .our-goal-img-container {
                width: 100%;
            }
            .our-goal-right {
                padding: 0 0 0 10px;
            }
            .home-safeguarding-left {
                width: 100%;
                margin-bottom: 20px;
            }
            .home-safe-guarding-right {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .home-safe-guarding-right-content {
                height: 375px;
                width: 500px;
            }
        }
        
        @media only screen and (max-width: 767px) {
            #hero {
                height: 70vh;
            }
            .hero {
                padding: 0 15px;
            }
            .hero-content {
                width: 100%;
            }
            .hero-content-header h1 {
                font-size: 30px;
            }
            .undernet {
                position: absolute;
                top: calc(100vh + 100px);
            }
            #below-hero {
                padding: 40px 15px;
                height: max-content;
            }
            .below-hero {
                flex-direction: column;
            }
            .below-hero-left {
                width: 100%;
            }
            .below-hero-right {
                width: 100%;
            }
            #committed {
                width: 100%;
                padding: 15px 0;
            }
            .committed-card {
                width: 98%;
            }
            .our-goal-left {
                width: 50%;
                height: max-content;
                display: none;
            }
            .our-goal-right {
                width: 100%;
            }
            #join-us {
                padding: 50px 15px;
            }
            .join-us {
                flex-direction: column-reverse;
            }
            .join-us-right {
                width: 100%;
                margin-bottom: 10px;
            }
            .join-us-left {
                width: 100%;
            }
            #safeguard-cards {
                padding: 50px 15px;
            }
            .safeguard-cards-container {
                grid-template-columns: repeat(1, 1fr);
            }
            .safeguard-card {
                width: 100%;
            }
            #contact-page {
                padding: 50px 15px;
            }
            .contact-page {
                flex-direction: column;
            }
            .contact-page-left {
                width: 100%;
            }
            .contact-page-right {
                width: 100%;
            }
            #home-safeguarding {
                padding: 0 15px;
            }
            .home-safeguarding {
                flex-direction: column;
            }
            .home-safeguarding-left {
                width: 100%;
                margin-bottom: 20px;
            }
            .home-safe-guarding-right {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .home-safe-guarding-right-content {
                height: 375px;
                width: 500px;
            }
        }