@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --black: #333333;
    --white: #F5F5F5;
    --primary: #fdc45c;
    --accent: #fffafa;
    --neutralLight: #f5f5f5;
    --neutralDark: #2c2c2c;
    --offBlack: rgb(19, 18, 18);
    --accent2: #c0c0c0;
    --danger: #e70f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: max-content;
    width: 100vw;
    font-family: "Roboto", serif;
    overflow-x: hidden;
    background: var(--white);
    scroll-behavior: smooth;
}

p {
    font-size: 17px;
    line-height: 24px;
    font-size: 400;
}

ul {
    font-size: 17px;
    line-height: 24px;
    font-size: 400;
    margin-left: 40px;
    color: var(--accent);
}

a {
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
}

h1,
h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.btn {
    font-size: 16px;
    padding: 10px 5px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}